html,body{
  scroll-behavior: smooth;
}
 body{
  font-family:'Poppins',sans-serif;
 }
li{
  color: orange;
}
/* Custom Style for Half Black and Half Orange Title */
/* Custom Style for Half Black and Half Orange Title */

  img {
    max-width: 90%;
    display: block;
    margin: auto;
  }
  #content {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
    
  }
  .section_description {
    margin-bottom: 2rem;
  }
  .container {
    max-width: 90%; /* Set a maximum width to keep content centered */
    margin: 0 auto; /* Center the container */
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 767px) {
    .content-row {
      flex-direction: column;
    }
  }
  @media screen and (min-width: 768px) {
    .content-row {
      display: flex;
      align-items: center; /* Center items vertically */
    }
    .col-lg-6 {
      flex: 1; /* Equal width columns */
      text-align: center; /* Center content horizontally */
    }
    .col-lg-6:first-child {
      order: 2; /* Change order of columns */
    }
  }

  #main{
    font-size: 2.5rem;
  }
  #sub{
    font-size: medium;
    color: grey;
    font-weight:1;
  }
  #btn{
    background-color: rgb(255, 187, 0);
    color: white;

  }

  #searchfood{
    img{
      max-width: fit-content;
    }
  }


